body{
    background-color: gray;
    justify-content: center;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.intconteiner{
    background-color: rgba(110, 110, 172, 0.781);
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imgint{
    width: 200px;
    height: 230px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin: 25px;
}

p{
    padding: 15px;
    display: flex;
    font-size: 20px;    
}

.info{
    width: 80%;
}