* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
    justify-content: center;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.intconteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(110, 110, 172, 0.781);
    width: 50rem;
    height: 20rem;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1rem;
    margin-block-end: 1rem;
}
.card img{
    width: 12rem;
    height: 16rem;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin: 25px;
}

.cardinfo{
    width: 60%;
}

.cardinfo .nomes{
    font-size: 38px;
}

.card p{
    margin-top: 30px;
    margin-left: -10px;
    display: flex;
    font-size: 20px;    
}


@media(max-width: 768px){

.card {
    background-color: rgba(110, 110, 172, 0.781);
    width: 25rem;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1rem;
}

.card img{
    width: 6rem;
    height: 8rem;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin: 15px;
}

.card .info{
    width: 80%;
}

.card p{
    margin-top: 30px;
    margin-left: -10px;
    display: flex;
    font-size: 16px;    
}

}

.voltar img{
    width: 25px;
    height: 25px;
}

.voltar{
    width: 30px;
    height: 30px;
    display: flex;
}